
a, button {
	border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
	cursor: pointer;
}
button {
  background-color: #04AA6D; /* Green */
}

a, .back-button {
	background-color: #008CBA; /* Blue */
}

.product {
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5rem 1rem;
}

*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
  cursor: not-allowed;
}
