.link,
button {
	border: none;
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
}
.link,
button {
	background-color: #04aa6d; /* Green */
}

.link,
.back-button {
	background-color: #008cba; /* Blue */
}

.product {
	color: white;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5rem 1rem;
}

*:disabled {
	background-color: dimgrey;
	color: linen;
	opacity: 1;
	cursor: not-allowed;
}

.big-letter {
	font-size: 2rem;
	font-weight: bold;
}
